* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("Images/Hell.jpg");
    background-size: cover;
}

.box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    padding: 1vh;
}

video {
    height: 100%;
    width: 100%;
}
